*.exe
*.o
*.ppu
backup/
archivo/conductores.dat
archivo/infracciones.dat
archivo/posicionesapynom.dat
archivo/posicionesdni.dat
temp/test.dat
archivo/listado_infracciones.dat
.vscode/settings.json
lib/x86_64-win64/scoring.compiled